<template>
    <require from='../../assets/styles/loadingScreen.css'></require>

    <div class="loading-screen">
        <div class="loading-inner">
            <div class="loading-center-outer">
                <div class="loading-center-middle">
                    <h1 class="loading-header">
                        LEGO Tracker
                    </h1>
                    <div class="loading-html pg-loaded">
                        <p class="loading-message">
                            Don't wait for opportunity. Create it.
                        </p>
                        <div class="sk-wave">
                            <div class="sk-rect sk-rect1"></div>
                            <div class="sk-rect sk-rect2"></div>
                            <div class="sk-rect sk-rect3"></div>
                            <div class="sk-rect sk-rect4"></div>
                            <div class="sk-rect sk-rect5"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>